.container{
    background-color: lightgray;
    height: 300px;
    width: 300px;
    float: left;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
}

button{
    width: 120px;
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: goldenrod;
}

#selectLaptop{
    width: 100px;
    border-radius: 20px;
}

#LaptopContiner{
    width: 1020px;
    height: 300px;
    margin-left: 30px;
    background-color: lightgray;
    float: left;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
}

img{
    float: left;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

#header{
    background-color: darkolivegreen;
    text-align: center;
}